body {
    
    background-image: linear-gradient(147deg, aqua, blue);
    background-repeat:no-repeat;
    background-size:cover;
    height:2000px;
}

.Blog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow:1;
}
//comments1
